body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.input-group input.show-password {
    padding-right: 30px;
}

.input-group input.show-password + .show-password i.fa-eye {
    display: none;
}

.input-group input.show-password:not(.show) + .show-password i.fa-eye-slash {
    display: none;
}

.login-container {
    background-color: #343a40;
    color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    position: relative;
    margin-top: 50px;
}

.login-container h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #ced4da;
}

.input-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0056b3;
}

.signup-link {
    margin-top: 15px;
    color: #ced4da;
}

.signup-link a {
    color: #ffffff;
    text-decoration: underline;
}

.signup-link a:hover {
    color: #a9c4e5;
}

.show-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: #fff;
}

.password-container {
    position: relative;
}

.password-container input {
    padding-right: 30px;
}

.password-container .show-password {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: #fff;
}


/* Додайте цей блок стилів */
.password-input-container {
    position: relative;
}

.password-input-container input {
    width: calc(100% - 30px); /* Залиште місце для іконки "ока" */
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.password-input-container .show-password {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: #007bff; /* Змініть колір на ваш смак */
}

/* Додайте цей блок стилів для темного режиму */
body.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}

.dark-mode .login-container {
    background-color: #1a1a1a; /* Темний фон контейнера */
    color: #ffffff; /* Колір тексту */
}



.dark-mode .input-group label {
    color: #ced4da; /* Колір тексту лейблів */
}

.dark-mode .input-group input {
    background-color: #1a1a1a; /* Темний фон інпутів */
    color: #ce0000; /* Колір тексту в інпутах */
}

.dark-mode .login-button {
    background-color: #007bff; /* Колір кнопки у темному режимі */
    color: #ffffff; /* Колір тексту на кнопці у темному режимі */
}

.dark-mode .login-button:hover {
    background-color: #0056b3; /* Колір кнопки при наведенні у темному режимі */
}

.dark-mode .signup-link {
    color: #ced4da; /* Колір тексту для посилання на реєстрацію у темному режимі */
}

.dark-mode .signup-link a {
    color: #ffffff; /* Колір тексту для посилання на реєстрацію при наведенні у темному режимі */
}

.dark-mode .signup-link a:hover {
    color: #a9c4e5; /* Колір тексту для посилання на реєстрацію при наведенні у темному режимі */
}

.dark-mode .show-password {
    color: #fff; /* Колір тексту для кнопки "показати пароль" у темному режимі */
}

.dark-mode .password-input-container input {
    background-color: #1a1a1a; /* Темний фон інпутів паролю у темному режимі */
    color: #ce0000; /* Колір тексту в інпуті паролю у темному режимі */
}

.dark-mode .password-input-container .show-password {
    color: #007bff; /* Колір тексту для кнопки "показати пароль" у темному режимі */
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #007bff; /* Колір слайдера у темному режимі */
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}